<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Add Employee</h2>

<form action="/add" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="designation" placeholder="Designation" required />
  <input name="location" placeholder="Location" required />
  <input name="salary" placeholder="Salary" required />
  <button>Add</button>
</form>

</body>
</html>